# {{app_name}}-Automation Dependencies

# Appium and Mobile Testing
Appium-Python-Client==4.1.0
selenium==4.27.1

# Testing Framework
pytest==8.3.4
pytest-xdist==3.6.1
pytest-html==4.1.1
pytest-rerunfailures==14.0
pytest-timeout==2.3.1
pytest-metadata==3.1.1

# Reporting
allure-pytest==2.13.5

# Utilities
python-dotenv==1.0.1
Pillow==11.0.0
requests==2.32.3

# Type Hints & Code Quality
typing-extensions==4.12.2
